@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .menu {
        @apply absolute w-[200px] h-[230px] left-[-172px] top-[50px] bg-primary bg-opacity-95 shadow duration-300 origin-top rounded-lg
    }

    .active{
        @apply text-light bg-success px-4 py-2 rounded-lg ;
    }
}

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f0f0f;
    color: #C1FCF6;
}


.custom-shadow{
    box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 20px;
}

.custom-shadow-sm{
    box-shadow: rgba(236, 236, 236, 0.2) 0px 7px 29px 0px;
}

.swiper:hover .swiper-button-prev{
    transform: translate(0px , -3px) scale(1);
}

.swiper .swiper-button-prev{
    padding: 10px;
    transform: scale(.9);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;       
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(1px);
    background: #6f6f6f80 !important;
    transform: scale(.001);
    transition: 350ms ease;
}

.swiper .swiper-button-prev:after{
    transform: scale(.3);   
    transition: 350ms ease;
}

.swiper:hover .swiper-button-next{
    transform: translate(0px, -3px) scale(1);
}

.swiper .swiper-button-next{
    padding: 10px;
    transform: scale(.9);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;       
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(1px);
    background: #6f6f6f80  !important;
    transform: scale(.001);
    transition: 350ms ease;
}

.swiper .swiper-button-next:after{
    transform: scale(.3);    
    transition: 350ms ease;
}
